body {
    text-align: center;
}

#sys_all {
    display: inline-block;
    margin: 0 auto;
}

#sys_protocol {
    display: inline-block;
    margin: 0 auto;
}

#sys_threat {
    display: inline-block;
    margin: 0 auto;
}
